<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout"
      lang="en">
<body>
<div layout:fragment="content">

    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-12">
                <img class="img-fluid rounded mb-3 mb-md-0"
                     th:src="@{vendor/img/info.png}" src="http://placehold.it/700x300"
                     alt="alt">
            </div>
        </div>

        <!-- Page Heading -->
        <h1 class="my-4">粉絲英雄榜</h1>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">排名</th>
                        <th scope="col">名稱</th>
                        <th scope="col">積分</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th><img th:src="@{vendor/img/Group 10.png}" src=""></th>
                        <th>陳家銘</th>
                        <th>留言數 16K</th>
                        <th>留言累積按讚 9.7K</th>
                    </tr>
                    <tr>
                        <th><img th:src="@{vendor/img/Group 11.png}" src=""></th>
                        <th>陳家銘</th>
                        <th>留言數 16K</th>
                        <th>留言累積按讚 9.7K</th>
                    </tr>
                    <tr>
                        <th><img th:src="@{vendor/img/Group 12.png}" src=""></th>
                        <th>陳家銘</th>
                        <th>留言數 16K</th>
                        <th>留言累積按讚 9.7K</th>
                    </tr>
                    <tr>
                        <th><img th:src="@{vendor/img/Group 13.png}" src=""></th>
                        <th>陳家銘</th>
                        <th>留言數 16K</th>
                        <th>留言累積按讚 9.7K</th>
                    </tr>
                    <tr>
                        <th><img th:src="@{vendor/img/Group 14.png}" src=""></th>
                        <th>陳家銘</th>
                        <th>留言數 16K</th>
                        <th>留言累積按讚 9.7K</th>
                    </tr>
                    <tr>
                        <th><img th:src="@{vendor/img/Group 16.png}" src=""></th>
                        <th>陳家銘</th>
                        <th>留言數 16K</th>
                        <th>留言累積按讚 9.7K</th>
                    </tr>
                    <tr>
                        <th><img th:src="@{vendor/img/Group 17.png}" src=""></th>
                        <th>陳家銘</th>
                        <th>留言數 16K</th>
                        <th>留言累積按讚 9.7K</th>
                    </tr>
                    <tr>
                        <th><img th:src="@{vendor/img/Group 18.png}" src=""></th>
                        <th>陳家銘</th>
                        <th>留言數 16K</th>
                        <th>留言累積按讚 9.7K</th>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>


    </div>


</div>
</body>
</html>
