<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout"
      lang="en">
<body>
<div layout:fragment="content">

    <div class="container">
        <!-- Page Heading -->
        <h1 class="my-4">KOL
            <small>rock n roll</small>
        </h1>

        <div th:each="page : ${pages}">
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img class="img-fluid rounded mb-3 mb-md-0"
                             th:src="${page.cover}" src="http://placehold.it/700x300"
                             th:alt="${page.name}" alt="alt">
                    </a>
                </div>
                <div class="col-md-5">
                    <h3 th:text="${page.name}">page name</h3>
                    <p th:text="${page.description}">page introduction</p>
                    <a class="btn btn-primary" href="#" th:href="@{page.link}">View Project</a>
                </div>
            </div>
            <hr>
        </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>


</div>
</body>
</html>
